:root{
    --color-primario: #f6f1e2;
    --color-secundario: #497568;
    --color-verde-oscuro: #334c47;
    --color-fondo: #699689;
    --color-texto: #98b9a1;
    --light-gray: #f8f9fa;
    --border-color: #dee2e6;
    --text-color: #333;
    --text-light: #555;
    --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    --card-radius: 12px;
}